#view-csr-container {
	position: absolute;
	top: 10px;
	left: 0;
	min-height: 415px;
	border: 0;
	background-color: rgba(25,25,25,0.95);
	padding: 30px;
}
#view-csr-container textarea {
	min-height: 415px;
	min-width: 625px;
	padding: 15px;
}
#csr-close {
	position: absolute;
	top: 4px;
	right: 7px;
	font-size: 1rem;
	color: #fff;
	font-family: Dashicons;
	cursor: pointer;
}
.confirm_tls, .view_csr {
	text-decoration: underline;
	color: blue;
	cursor: pointer;
}
.form-table td {
	padding: 8px 10px;
	line-height: 1.1;
	vertical-align: middle;
}